BODY { background-color: #ffffff; font:10pt Verdana, sans-serif; color:#003366; }
H1 { font:bold 14pt Verdana, sans-serif; color:#003366; margin-top:0px;margin-bottom:0px; }
H2 { font:bold 12pt Verdana, sans-serif; color:#003366; margin-top:0px;margin-bottom:0px; display:inline; }
H3 { font:bold 10pt Verdana, sans-serif; color:#003366; margin-top:0px;margin-bottom:0px; display:inline;}

TABLE { margin:0; } 
TH { font:bold 10pt Verdana, sans-serif; color:#003366; }
TD { font:10pt Verdana, sans-serif; color:#003366;  }
SMALL {font:8pt Verdana, sans-serif; color:003366; }

UL, LI { margin-left:3px; padding-left:3px; margin-top:4px; }

A:link { color: #003366 }
A:active { color: #003366  }
A:visited { color: #003366  }
/* A:hover { color: #aa00FF } */
A:hover { color: #914293 }

P { font:10pt Verdana, sans-serif; color:#003366; }

LI { list-style: none; font:10pt Verdana, sans-serif; color:#003366; }

/* Testimonial top, bottom */
.TT { font:italic 10pt Verdana, sans-serif; margin-bottom:0px; }
.TB { font:bold 8pt Verdana, sans-serif; margin-top:5px; text-align:right; }





